@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Styles */
.display-flex{
    display: flex;
}
/* Dark-2 */
.text-gray{
    color: #424242;
}
/* Dark-3 */
.text-light-gray{
    color: #727272;
}
.text-pri{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
 border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main> section{
    margin-top: 130px;
    margin-bottom: 200px;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Styles */

/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight:bold;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500px;}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related Styles */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.banner-image{
    width: 100%;
}

/* team and fetuares */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
    

}

.features{
    color: #FF900E;
}
.features-des{
    font-size: 1rem;

}

/* Fact Related Style */
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.fact-num{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;


}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #727272;


}
.fact-des{
    max-width: 540px;

}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Sponsers Related Style */
.sponspor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}
.sopnspors-com{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sopnspors-com{
    filter: grayscale(100%);
}


/*Responsive media Query */


@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;

    }
    .team-img-container,
    .fact-container, 
    .sopnspors-com{
    grid-template-columns: repeat(1, 1fr)

}
.our-features{
    margin-left: 20px;
}

/* Fact style */
.fact-container{
    justify-items: center;
    gap: 24px;
}
.sopnspors-com{
    justify-items: center;
    gap: 40px;
}



}
/* Medium Size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
    }
    .sopnspors-com, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    

    
}
